html, body {
  min-height: 100%;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #555555; }

* {
  margin: 0;
  padding: 0; }


.menu {
  background: rgba(150, 200, 50, 0.7);
  height: 52px;
  text-align: center;
  z-index: 2;
  clear: both;
  box-shadow: 0 4px 5px rgba(1, 1, 2, 0.4); }
  .menu ul, .menu li {
    display: inline-block;
    list-style: none; }
  .menu ul {
    padding-left: 150px;
    height: 52px;
    line-height: 52px;
    margin-top: 0; }
  .menu li {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff; }
    .menu li.active, .menu li:hover {
      background: #9DC21C; }
  .menu a {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 30; }

.main {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }
  .main .slider {
    position: relative;
    overflow: hidden;
    height: 275px; }
  .main .description {
    padding: 15px 15px; }
    .main .description p {
      font-size: 16px;
      margin-bottom: 10px; }
    .main .description .liste-activite {
      margin-left: 25px; }
  .main .chalet-min .label {
    width: 5em;
    height: 5em; }
    .main .chalet-min .label:hover .nb-personne {
      color: #ef404a; }
    .main .chalet-min .label:after {
      border-right: 5em solid transparent;
      border-bottom: 5em solid transparent;
      border-right-color: inherit; }
    .main .chalet-min .label .nb-personne {
      font-family: 'Open Sans Condensed', sans-serif;
      left: 40px;
      font-size: 17px;
      font-family: bold;
      position: absolute;
      top: 20px;
      opacity: .75; }
    .main .chalet-min .label .icon {
      top: -2px;
      left: 25px;
      font-size: 16px;
      position: absolute; }
