html, body {
  min-height: 100%;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #555555;
  font-size: 1.2em; }

* {
  margin: 0;
  padding: 0; }

.menu {
  background: rgba(150, 200, 50, 0.7);
  height: 52px;
  text-align: center;
  z-index: 2;
  clear: both;
  box-shadow: 0 4px 5px rgba(1, 1, 2, 0.4); }
  .menu ul, .menu li {
    display: inline-block;
    list-style: none; }
  .menu ul {
    padding-left: 150px;
    height: 52px;
    line-height: 52px;
    margin-top: 0; }
  .menu li {
    float: left;
    padding: 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff; }
    .menu li.active, .menu li:hover {
      background: #9DC21C; }
  .menu a {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 30; }

.main {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  padding-left: 10% !important;
  padding-right: 10% !important; }
  .main .slider {
    position: relative;
    overflow: hidden;
    height: 275px;
    margin-bottom: 0; }
    .main .slider .carousel-caption h4 {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 15px 0; }
    .main .slider .carousel-indicators {
      position: absolute;
      bottom: 0; }
  .main .description-home {
    padding: 30px 25px; }
    .main .description-home p {
      font-size: 1em; }
    .main .description-home .steps {
      margin: 20px auto !important; }
      .main .description-home .steps .content {
        font-size: 0.8em; }
  .main .chalets .reveal .hidden {
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: block !important;
    visibility: visible !important; }
    .main .chalets .reveal .hidden span {
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .main .google-map {
    height: 95%; }
    .main .google-map .gmap-window {
      padding-bottom: 25px !important; }
      .main .google-map .gmap-window .ui.grid {
        margin: 0 !important; }
      .main .google-map .gmap-window .header {
        font-size: 1.2em; }
      .main .google-map .gmap-window .row {
        margin-bottom: 2px !important;
        padding-bottom: 2px !important; }
      .main .google-map .gmap-window .icon-gmap {
        margin-bottom: 5px !important;
        margin-right: 10px !important;
        margin-top: 5px !important; }
  .main .list-activites {
    overflow-y: scroll; }
  .main .chalet-min .label {
    width: 5em;
    height: 5em; }
    .main .chalet-min .label:hover .nb-personne {
      color: #ef404a; }
    .main .chalet-min .label:after {
      border-right: 5em solid transparent;
      border-bottom: 5em solid transparent;
      border-right-color: inherit; }
    .main .chalet-min .label .nb-personne {
      font-family: 'Open Sans Condensed', sans-serif;
      left: 40px;
      font-size: 17px;
      font-family: bold;
      position: absolute;
      top: 20px;
      opacity: .75; }
    .main .chalet-min .label .icon {
      top: -2px;
      left: 25px;
      font-size: 16px;
      position: absolute; }

.modal {
  top: 5% !important;
  height: 90% !important;
  overflow-y: scroll; }

.box-gallerie {
  width: 150px !important;
  height: 150px !important;
  margin: 0 !important; }
  .box-gallerie .item {
    font-size: 0.8em !important; }

.chalet-backoffice .inventaire input {
  display: none;
  padding: 0 0.2em !important;
  width: 75px; }
.chalet-backoffice .inventaire label {
  display: inline; }
.chalet-backoffice .inventaire .editing .item-name {
  display: none; }
.chalet-backoffice .inventaire .editing input {
  display: block; }
.chalet-backoffice .inventaire .editing .buttons {
  display: none; }
.chalet-backoffice .progress .bar {
  min-width: 0em !important; }

section.contact {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -250px; }
  section.contact .map-footer {
    width: 100%;
    height: 250px;
    background: white;
    padding-top: 10px;
    clear: both;
    position: relative;
    z-index: 10; }

.facebook-box {
  width: 100%; }
  .facebook-box > span {
    width: 100% !important; }
    .facebook-box > span > iframe {
      width: 100% !important; }

/*# sourceMappingURL=style.css.map */
