<% include ../header %>
<div class="ui page grid main">
	<div class="row">
		<div class="three wide column"></div>
		<div class="ten wide column">
			<div class="ui fluid two item menu">
				<a class="item" href="/admin/chalets">Chalets</a>
				<a class="item" href="/admin/activites">Activités</a>
			</div>
		</div>
		<div class="three wide column"></div>
	</div>
</div>

<% include ../footer %>
</body>
</html>