<% include header %>
<div class="ui middle aligned page grid main" ng-app="mezouilhac-gmap">
	<div class="row" ng-controller="activiteCtrl">
		<div class="ten wide column">
			<div class="ui attached segment activites">
				<h1 class="ui large top attached orange label">
					Activite / Région
				</h1>

				<div class="google-map">
					<ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" bounds="map.control" pan="true" style="height:90%; width:100%;" events="map.event">
						<ui-gmap-marker ng-repeat="activite in activites" idKey="activite.id" coords="activite.position" icon="activite.icon" control='map.markerControl'>

							<ui-gmap-window show="activite.showWindow" options="activite.windowOptions" control='activite.windowControl' ng-cloak>
								<div class="gmap-window">

									<div class="ui grid">
										<div class="row">
											<div class="column">
												<h2 class="ui header">
													<img ng-src="{{activite.img}}" alt="{{activite.img}}" class="ui left floated image icon-gmap" width="50px">
													<div class="content">
														{{activite.title}}
														<div class="sub header">{{activite.category}}</div>
													</div>
												</h2>
												<p>{{activite.description}}</p>
											</div>
										</div>
										<div class="row">
											<div class="twelve wide column">
												<div class="ui label">
													{{activite.adresse}}
												</div>
											</div>
											<div class="four wide column">
												<a ng-href="http://{{activite.url}}" target="blank"  class="ui mini blue button" ng-show="activite.url">Voir le site</a>
											</div>
										</div>
									</div>

								</div>
							</ui-gmap-window>
						</ui-gmap-marker>
					</ui-gmap-google-map>
				</div>
			</div>
		</div>
		<div class="six wide column">
			<div class="ui segment list-activites">
				<h1 class="ui large top attached orange label">
					Liste des activités
				</h1>
				<div class="ui selection relaxed divided list">
					<div class="item" ng-click="setOn(0)">
						<img class="ui avatar image" ng-src="/img/icon/home.png">
						<div class="content">
							<div class="header">Mézouilhac</div>
							Riols, 34220
						</div>
					</div>
					<div class="item" ng-repeat="activite in list_activites" ng-click="setOn(activite._id)">
						<img class="ui avatar image" ng-src="/img/icon/{{activite.icon}}.png">
						<div class="content">
							<div class="header">{{activite.nom}}</div>
							{{activite.adresse}}
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

<% include footer %>
<script src='components/lodash/dist/lodash.min.js'></script>
<script src='components/bluebird/js/browser/bluebird.js'></script>*
<script src='components/angular/angular.min.js'></script>
<script src='components/angular-google-maps/dist/angular-google-maps.min.js'></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvrkKnNAGJ8w_zmoKpSVd5i_XBVS_yriA"></script> -->
<script src="js/activiteJS.js"></script>
</body>
</html>