<% include header %>
<section ng-app="mezouilhac-contact" ng-controller="contactCtrl" class="contact">
<div class="ui middle aligned page grid main">
	<div class="row">
		<div class="six wide column">
			<div class="ui attached segment">
				<h1 class="ui large top attached red label">
					Informations
				</h1>
				<div class="ui list">
					<div class="item">
						<i class="circular inverted teal user icon"></i>
						<div class="content">
							<div class="header">François Choraine</div>
						</div>
					</div>
					<div class="item">
						<i class="circular inverted yellow marker icon"></i>
						<div class="content">
							<div class="header">Mezouilhac</div>
							<div class="description">Riols, 34220</div>
						</div>
					</div>
					<div class="item">
						<i class="circular inverted green call icon"></i>
						<div class="content">
							<div class="header">06 18 73 03 13</div>
						</div>
					</div>
					<div class="item">
						<i class="circular inverted orange mail icon"></i>
						<div class="content">
							<div class="header">chorainef@wanadoo.fr</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<afb:like:box class="facebook-box" href="https://www.facebook.com/pages/M%C3%A9zouilhac/262548087268451?ref=br_tfp" colorscheme="light" show-faces="true" header="true" stream="false" show-border="true" width="100%"></afb:like:box>
			</div>
		</div>
		<div class="ten wide column">
			<div class="ui attached segment">
				<h1 class="ui large top attached blue label">
					Contactez-nous !
				</h1>
				<div class="ui form">
					<div class="two fields">
						<div class="field">
							<label>Nom</label>
							<div class="two fields">
								<div class="field">
									<input type="text" name="prenom" placeholder="Prénom">
								</div>
								<div class="field">
									<input type="text" name="nom" placeholder="Nom">
								</div>
							</div>
						</div>
						<div class="field">
							<label>Email</label>
							<div class="field">
								<input type="text" name="email" placeholder="email">
							</div>
						</div>
					</div>
					<div class="field">
						<label>Message</label>
						<textarea></textarea>
					</div>
					<div class="field">
						<div class="ui submit teal button">Envoyer</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="map-footer">
	<ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" bounds="map.control" pan="true" style="height:100%; width:100%;" events="map.event">
		<ui-gmap-markers models="activites" coords="'self'" icon="'icon'" control='map.markerControl'>
		</ui-gmap-markers>
	</ui-gmap-google-map>
</div>
</section>

<% include footer %>
<script src='components/lodash/dist/lodash.min.js'></script>
<script src='components/bluebird/js/browser/bluebird.js'></script>*
<script src='components/angular/angular.min.js'></script>
<script src="components/angularjs-facebook-sdk/dist/angularjs-facebook-sdk.min.js"></script>
<script src='components/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src="js/contact.js"></script>

</body>
</html>