<% include header %>
<div class="ui page grid main">
	<div class="row">
		<div class="six wide column">
			<div class="ui segment">
			</div>
		</div>
		<div class="ten wide column">
			<h2 class="ui top blue inverted attached header">
				Contactez-nous !
			</h2>
			<div class="ui attached segment">
			</div>
		</div>
	</div>
</div>

<% include footer %>
<script src="js/index.js"></script>

</body>
</html>