<% include header %>
<div class="ui page grid main">
	<!-- Slider -->
	<div class="row">
		<div class="column">
			<div class="ui segment">
				<div class="slider">
					<div><img data-lazy="img/slider/slider1.jpg" alt="Slider 1"></div>
					<div><img data-lazy="img/slider/slider2.jpg" alt="Slider 1"></div>
					<div><img data-lazy="img/slider/slider3.jpg" alt="Slider 1"></div>
					<div><img data-lazy="img/slider/slider4.jpg" alt="Slider 1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="twelve wide column">
			<h2 class="ui top teal inverted attached segment header">
				Description du site
			</h2>
			<div class="ui attached segment description">
				<p>&emsp;&emsp;Gîte et chalets à louer dans le parc naturel du Haut Languedoc, 40 hectares</p>

				<p>&emsp;&emsp;Mézouilhac, minuscule hameau de Riols, entre mer et montagne, est niché dans une petite vallée, au cœur du Parc Naturel Régional du Haut Languedoc. A 8 minutes de tous commerces et professions de santé ; à 20 minutes des lacs ; à 60 minutes de la Méditerranée ; à proximité de tous loisirs : </p>
				<div class="ui list liste-activite">
					<span class="item">
						<i class="fa fa-check-square"></i>
						Pêche
					</span>
					<span class="item">
						<i class="fa fa-check-square"></i>
						Randonnée
					</span>
					<span class="item">
						<i class="fa fa-check-square"></i>
						V.T.T. (plusieurs vélos sont à votre disposition)
					</span>
					<span class="item">
						<i class="fa fa-check-square"></i>
						Escalade
					</span>
					<span class="item">
						<i class="fa fa-check-square"></i>
						Canoë
					</span>
					<span class="item">
						<i class="fa fa-check-square"></i>
						Equitation
					</span>
					<span class="item">
						<i class="fa fa-check-square"></i>
						Tennis…
					</span>
				</div>

				<p>&emsp;&emsp;Dans cet environnement de calme et de pleine nature, nous vous proposons nos 3 chalets et notre gîte sur un terrain de 40 hectares avec potager et arbres fruitiers à disposition. Véritable paradis des amoureux de la nature, la propriété se situe au cœur d'une forêt de chênes verts et de châtaigniers. Ouvert toute l'année.</p>

				<div class="ui big list liste-chalet">
					<div class="item">
						<div class="header">Gîte | 40m2 + terrasse, 2/4 places </div>
						Ancien séchoir à châtaignes, aménagé en gîte, 1 chambre, salle de bains, wc, lave-linge, séjour avec couchage, cheminée, cuisine, barbecue, salon d'été. Tarifs de 300€/semaine à 550€ selon période. Nuitée : 60€
					</div>
					<div class="item">
						<div class="header">Chalet n°1 | 54m² + terrasse | 4/6 places</div>
						2 chambres, séjour cuisine meublée, lave-linge, lave-vaisselle, chambre avec lit 160, chambre avec 2 lits de 90, plus couchage dans le séjour en 140, salle de bain, wc, salon d’été, terrasse barbecue, piscine privative de 8x5m. Tarifs de 350€/semaine à 850€ selon période. Nuitée : 70€
					</div>
					<div class="item">
						<div class="header">Chalet n°2 | 28m² + terrasse | 2-4 places</div>
						Cuisine-séjour meublée, lave-linge, 1 canapé lit en 140, une chambre meublée avec un lit en 140, une salle d’eau, 1 wc, salon d’été, barbecue, piscine de 11x7m partagée avec le 3ème chalet. Tarifs de 250€/semaine à 650€ selon période. Nuitée : 50€
					</div>
					<div class="item">
						<div class="header">Chalet n°3 | 34m² | 4/6 places </div>
						2 chambres, Un séjour-cuisine équipée, lave linge, 1 canapé lit 140, 1 chambre avec un lit 140, 1 chambre avec 2 lits en 80, salle d’eau, wc, salon d’été, barbecue, piscine de 11x7m partagée avec le 2ème chalet. Tarifs de 300€/semaine à 750€ selon période. Nuitée : 60€y
					</div>
				</div>
			</div>	
		</div>
		<div class="four wide column">
			<div class="ui green segment detail">
				<div class="item">
					<i class="fa fa-tree"></i> 40 hectar de terrain
				</div>
			</div>
			<div class="ui blue segment detail">
				<div class="item">
					<i class="fa fa-tint"></i> 2 piscines
				</div>
			</div>
			<div class="ui purple segment detail">
				<div class="item">
					<i class="fa fa-wifi"></i> Accès Wi-Fi
				</div>
			</div>
			<div class="ui black segment detail">
				<div class="item">
					<i class="fa fa-paw"></i> Animaux bienvenus
				</div>
			</div>
		</div>
	</div>
</div>

<% include footer %>
<script src="js/index.js"></script>

</body>
</html>