<% include header %>
<div class="ui page middle aligned grid main" ng-controller="HomeController" ng-app="mezouilhac-home">
	 Slider
	<div class="row">
		<div class="column">
			<div class="ui segment">
				<!--<div class="slider">-->
					<!--<div><img data-lazy="img/slider/slider1.jpg" alt="Slider 1"></div>-->
					<!--<div><img data-lazy="img/slider/slider2.jpg" alt="Slider 1"></div>-->
					<!--<div><img data-lazy="img/slider/slider3.jpg" alt="Slider 1"></div>-->
					<!--<div><img data-lazy="img/slider/slider4.jpg" alt="Slider 1"></div>-->
				<!--</div>-->
				<div class="slider">
				<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active" ng-cloak>
						<img ng-src="{{slide.image}}" style="margin:auto;">
						<div class="carousel-caption">
							<h4>{{slide.text}}</h4>
						</div>
					</slide>
				</carousel>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="twelve wide column">
			<div class="ui grid">
				<div class="row">
					<div class="column">
						<div class="ui attached segment description-home">
							<h1 class="ui large top attached teal label">
								Gîte et chalets à louer dans le parc naturel du Haut Languedoc
							</h1>

							<p>Mézouilhac, minuscule hameau de Riols, entre mer et montagne, est niché dans une petite vallée, au cœur du Parc Naturel Régional du Haut Languedoc. </p>

							<div class="ui list">
								<div class="item">
									<i class="map marker icon"></i>
									<div class="content">
										A 8 minutes de tous commerces et professions de santé
									</div>
								</div>
								<div class="item">
									<i class="map marker icon"></i>
									<div class="content">
										à 20 minutes des lacs
									</div>
								</div>
								<div class="item">
									<i class="map marker icon"></i>
									<div class="content">
										à 60 minutes de la Méditerranée
									</div>
								</div>
							</div>

							<div class="ui list">
								<div class="item">
									<div class="content">
										A proximité de tous loisirs
									</div>
								</div>
								<div class="item">
									<div class="content">
										<div class="ui mini steps list-activite">
											<div class="step">
												<div class="content">
													<div class="title">Pêche</div>
												</div>
											</div>
											<div class="step">
												<div class="content">
													<div class="title">Randonnée</div>
												</div>
											</div>
											<div class="step">
												<div class="content">
													<div class="title">V.T.T.</div>
												</div>
											</div>
											<div class="step">
												<div class="content">
													<div class="title">Escalade</div>
												</div>
											</div>
											<div class="step">
												<div class="content">
													<div class="title">Canoë</div>
												</div>
											</div>
											<div class="step">
												<div class="content">
													<div class="title">Equitation</div>
												</div>
											</div>
											<div class="step">
												<div class="content">
													<div class="title">Tennis…</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<p>&emsp;&emsp;Dans cet environnement de calme et de pleine nature, nous vous proposons nos 3 chalets et notre gîte sur un terrain de 40 hectares avec potager et arbres fruitiers à disposition. Véritable paradis des amoureux de la nature, la propriété se situe au cœur d'une forêt de chênes verts et de châtaigniers. Ouvert toute l'année.</p>
						</div>
					</div>
				</div>
				<div class="row chalets">
					<% chalets.forEach(function (chalet, i) { %>
					<div class="four wide column">
						<div class="ui segment">
							<div class="ui move up reveal">
								<img class="visible content ui medium image" src="img/chalets/<%= chalet.img_principale %>">
								<div class="hidden content">
									<span><%= chalet.nom %></span>
								</div>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui green segment detail">
				<div class="item">
					<i class="circular inverted green tree icon"></i> 40 hectars de terrain
				</div>
			</div>
			<div class="ui blue segment detail">
				<div class="item">
					<i class="circular inverted blue theme icon"></i> 2 piscines
				</div>
			</div>
			<div class="ui purple segment detail">
				<div class="item">
					<i class="circular inverted purple wifi icon"></i> Accès Wi-Fi
				</div>
			</div>
			<div class="ui yellow segment detail">
				<div class="item">
					<i class="circular inverted yellow paw icon"></i> Animaux bienvenus
				</div>
			</div>
			<div class="ui red segment detail">
				<div class="item">
					<i class="circular inverted red flag icon"></i> Vélos à disposition
				</div>
			</div>
		</div>
	</div>
</div>	

<% include footer %>
<script src='components/angular/angular.min.js'></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/js/index.js"></script>

</body>
</html>